.gitignore
*.pyc
__pycache__/
Archiv/     
build/
dist/
gen_bin.sh
in/
out/
tci_main_image_slice_stitch_26.spec
test/
venv/
*.log
*.zip
*.tar.gz
*.tar.xz
*.tar.bz2
*.tar
*.gz
*.xz
*.bz2
*.zip
*.7z
*.rar
